blockquote { 
    font-size: 0.95rem;
    padding: 1rem;
    border: 1px solid rgba(92,53,102,0.8);
    border-left: 1.5rem solid rgba(92,53,102,0.8);
    margin: 0.5rem;
    box-shadow: $shadow;
    min-height: 40px;
}
blockquote p:last-child {
    margin-bottom: 0;
}
blockquote:before {
    content: "tip";
    text-transform: uppercase;
    speak: none;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    float: left;
    margin-left: -1.75rem;
    margin-top: 1.5rem;
    color: #fff;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transform-origin: 0% 50%;
}
blockquote.quote { border-color: #666; }
blockquote.quote:before {
    content: "quote";
}
blockquote.comment { border-color: #5bc0de; }
blockquote.comment:before {
    content: "comment";
}
article blockquote { margin-top: 2rem; }
