.oc-panel {
  z-index: 888889;
  overflow: auto;
  overflow-y: auto;
  height: 100vh;
  color: $black !important;
  text-shadow: none !important;
}
.oc-panel a {
  color: $link-color !important;
}
.oc-panel a:hover {
  color: $link-hover-color !important;
}
.oc-panel::after {
    content: ' ';
    height: 40px;
    display: block;
}
#oc-left {
  top: 0px;
  width: 300px;
  height: 100%;
  position: fixed;
  overflow: hidden;
  transition: transform 300ms ease 0s;
  padding: 0;
  left: -300px;
}
#oc-left-wrapper.shown #oc-left {
  -ms-transform: translate(300px, 0);
  -webkit-transform: translate(300px, 0);
  transform: translate(300px, 0);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
}
#oc-left > div {
  width: 100%;
  height: 100%;
  padding: 25px 10px;
}

.oc-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 888887;
  top: 0;
}
#oc-left-wrapper.shown .oc-overlay {
  display: block;
}
.oc-overlay.right {
    left: -300px;
    display: block;
}
.oc-overlay.left {
    right: -300px;
    display: block;
}
body.oc-right-shown .fade-oc,
body.oc-left-shown .fade-oc {
    filter: grayscale(100%);
}
// OC lists 
.oc-panel ul {
    margin-left: 0;
    padding-left: 1rem;
    list-style-type: none;
    font-size: 1.05rem;
}
.oc-panel ul ul {
    list-style-type: circle;
    font-size: 0.95rem;
}
@media (max-width: 991px) {

    #oc-right {
      top: 0;
      width: 300px;
      height: 100%;
      position: fixed;
      overflow: hidden;
      overflow-y: auto;
      backface-visibility: hidden;
      background: $gray-lightest;
      transition: transform 300ms ease 0s;
      padding: 45px 10px 25px 10px;
      right: -300px;
    }
    #oc-right.shown {
      -ms-transform: translate(-300px, 0);
      -webkit-transform: translate(-300px, 0);
      transform: translate(-300px, 0);
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
    }
}
@media (min-width: 992px) {
    .on-oc-right {
        display: none;
    }
}
// move icons 
#hamburger,
#tocburger {
  transition: all 300ms ease 0s;
}
#oc-left-wrapper.shown #hamburger {
  transform: translate(240px, 0);
}
body.oc-right-shown #tocburger {
  transform: translate(-240px, 0);
}
