/****************************
 *  Picture of the week
 ***************************/
//$potw: url("/assets/img/potw/potw.jpg");
$potw: url("https://images.pexels.com/photos/158507/marigold-calendula-orange-blossom-158507.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
$potwtext: #fff;
$potwlink: #fff;
$potwinverse: #000;
$potwtextshadow: 1px 1px 1px $potwinverse, -1px -1px 1px $potwinverse, -1px 1px 1px $potwinverse, 1px -1px 1px $potwinverse;
