/****************************
 *  Picture of the week
 ***************************/
//$potw: url("/assets/img/potw/potw.jpg");
$potw: url("/assets/img/potw/marigold-calendula-orange-blossom.jpg");
$potwtext: #fff;
$potwlink: #fff;
$potwinverse: #000;
$potwtextshadow: 1px 1px 1px $potwinverse, -1px -1px 1px $potwinverse, -1px 1px 1px $potwinverse, 1px -1px 1px $potwinverse;
