div.toc ul { padding-left: 1rem; }
div.toc > ul { list-style-type: none; margin-left: 0.75rem; padding-left: 0; font-size: 130%; line-height: 1.2; }
#toc-ul p { margin: 0 }
#toc-ul p a  { box-shadow: none; color: #86739c; }
#toc-ul a  { margin-bottom: 0.5rem; display: inline-block; }
